node_modules
dist
src/assets
public
index.html
package*
README.md
.prettierignore
.gitignore
Makefile
**/*.conf
**/*.env
**/*.py
**/*.js
.editorconfig
deploy/nginx/Dockerfile
.env.dev
.env.production
.env.stage
pnpm-lock.yaml
.pnpm-store/
external/
